* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background: #040C1C;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
